{% load static %}


<!-- Sidebar Start -->
<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-secondary navbar-dark">
        <div class="d-flex align-items-center ms-4 mb-4 pt-4">
            <div class="position-relative">
                <i class="fa fa-user fa-3x text-white"></i>
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-4">
                <h5 class="mb-0">{{request.user}}</h5>
                <div>
                    <a href="{% url 'user_logout' %}" >logout</a>
                </div>
            </div>
        </div>

        <div class="navbar-nav w-100" id="sidebar">
            <a href="/" class="nav-item nav-link" id=""><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
            <a href="/bank_detail" class="nav-item nav-link" id="bank_detail"><i class="fa fa-laptop me-2"></i>Account</a>
            <a href="/transaction_detail" class="nav-item nav-link" id="transaction_detail"><i class="fa fa-th me-2"></i>Transaction</a>
        </div>
    </nav>
</div>
<!-- Sidebar End -->