{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Chart Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Income Category</h6>
                </div>
                <div class="chart-container">
                    <canvas id="income-category" data-url="{% url 'category_chart' %}"></canvas>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Expense Category</h6>
                </div>
                <div class="chart-container">
                    <canvas id="expense-category"></canvas>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Chart End -->

<!-- Transactions Table Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Recent transactions</h6>
            <div>
                <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#new-income-Modal">
                    New income
                </button>
                <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#new-expense-Modal">
                    New expense
                </button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-sm text-start align-middle table-hover mb-0">
                <thead>
                    <tr class="text-white">
                        <th scope="col">Date</th>
                        <th scope="col">Nature</th>
                        <th scope="col">Category</th>
                        <th scope="col">Detail</th>
                        <th scope="col">Bank</th>
                        <th scope="col">Amount</th>
                        <th colspan='2'></th>
                    </tr>
                </thead>
                <tbody>
                    {% for transaction in transactions %}
                    <tr class="{{transaction.nature}}-item">
                        <td class="transaction-amount">{{transaction.date}}</td>
                        <td class="transaction-amount">{{transaction.nature|title}}</td>
                        <td>{{transaction.category}}</td>
                        <td>{{transaction.detail}}</td>
                        <td>{{transaction.bank}}</td>
                        <td class="transaction-amount">${{transaction.amount}}</td>
                        <td><a href="{% url 'update_transaction' transaction.nature transaction.id %}">Edit</a></td>
                        <td><a data-url="{% url 'remove_transaction' 'transaction.nature' transaction.id %}" 
                            class="remove-transaction" type="button" data-bs-toggle="modal" data-bs-target="#remove-transaction-Modal">
                            Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Transactions Table End -->


<!-- new-income-Modal -->
<div class="modal fade" id="new-income-Modal" tabindex="-1" aria-labelledby="new-income-ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="new-income-ModalLabel">Create a new income</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <form id="income-form" method="POST" action="{% url 'create_transaction' 'income' %}">
                    {% csrf_token %}
                    {{ income_form.as_p }}
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" form="income-form" class="btn btn-outline-info">Create</button>
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
<!-- new-income-Modal End -->


<!-- new-expense-Modal -->
<div class="modal fade" id="new-expense-Modal" tabindex="-1" aria-labelledby="new-expense-ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="new-expense-ModalLabel">Create a new expense</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <form id="expense-form" method="POST" action="{% url 'create_transaction' 'expense' %}">
                    {% csrf_token %}
                    {{ expense_form.as_p }}
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" form="expense-form" class="btn btn-outline-info">Create</button>
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
<!-- new-income-Modal End -->


<!-- remove-transaction-Modal -->
<div class="modal fade" id="remove-transaction-Modal" tabindex="-1" aria-labelledby="remove-transaction-ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="remove-transaction-ModalLabel">Delete Transaction</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="d-flex align-items-center justify-content-between">
                <p>Are you sure you want to delete this transaction?</p>
            </div>
        </div>
        <div class="modal-footer">
            <form id="confirm-remove" action="" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
<!-- remove-transaction-Modal End -->

{% endblock %}
