{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary p-4">
        <div class="justify-content-between text-white mb-4">
            <h6>Bank Account</h6>
            <hr>
        </div>
        <div class="justify-content-between text-white mb-2">
            <form method="POST" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <hr>
                <div>
                    <button type="submit" class="btn btn-info">Update</button>
                    <a href="{% url 'bank_detail' %}" class="btn btn-secondary">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}