{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Form start -->
<div class="container pt-4 px-4">
    <div class="bg-light p-4">
        <div class="align-items-center justify-content-between">
            <form method="POST" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <hr>
                <div>
                    <button type="submit" class="btn btn-primary">Update</button>
                    <a href="{% url 'transaction_detail' %}" class="btn btn-secondary">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Form end -->
{% endblock %}