{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


<!-- User Register Form Start -->
<div id="user-register" class="container-fluid pt-4 px-4">
    <div class="bg-secondary p-4">
        <div class="justify-content-between text-white">
            <h2>Registration</h2>
            <form method="post" action="" class="mx-auto">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-info mt-4">Create</button>
            </form>

            <div class="pt-2">
                <p>Already have an account? <a href="/user_login">Login</a></p>
                <h4>&gt&gt&gt Or use demo account:<a href="/demo_login"> Demo</a> &lt&lt&lt</h4>
            </div>
            <h4 style="color: red;">
                {{form.errors}}
            </h4>
        </div>
    </div>
</div>
<!-- User Register Form End -->


{% endblock%}