{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- User Login Form Start -->
<div id="user-login" class="container-fluid pt-4 px-4">
    <div class="bg-secondary p-4">
        <div class="justify-content-between text-white">
            <h2>login</h2>
            <form method="POST" action="">
                {% csrf_token %}
                <div class="form-group row py-2">
                    <label for="inputUsername" class="col-sm-1 col-form-label">username</label>
                    <div class="col-sm-11">
                        <input type="text" class="form-control" id="inputUsername" name="username">
                    </div>
                </div>
                <div class="form-group row py-2 mb-2">
                    <label for="inputPassword" class="col-sm-1 col-form-label">Password</label>
                    <div class="col-sm-11">
                        <input type="password" class="form-control" id="inputPassword" name="password">
                    </div>
                </div>
                <button type="submit" class="btn btn-info">Login</button>
            </form>
            <hr>
            <div class="pt-4">
                <p>Don't have account? <a href="/user_register">Create one</a></p>
                <h4>&gt&gt&gt Or use demo account:<a href="/demo_login"> Demo</a> &lt&lt&lt</h4>
            </div>
            <h4 style="color: red;">
                {% for message in messages %}
                    {{message}}
                {% endfor %}
            </h4>
        </div>
    </div>
</div>
<!-- User Login Form End -->


{% endblock %}